@import "base/colors.scss";

#article-index-section {
  width: 700px;
  border-top: 1px solid $light-gray;
  padding-top: 15px;
}

.article-index-item {
  height: 50px;
  margin-bottom: 15px;
  display: flex;
}

.article-item-info {
  width: 100%;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  div {
    color: $gray;
    font-size: 12px;
    display: flex;
    align-items: center;

    p:first-child {
      padding-right: 5px;
    }
  }
}

.bullet-separator {
  width: 4px;
  height: 4px;
  background-color: $gray;
  border-radius: 100%;
  margin-right: 5px;
}

.article-item-img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: $light-orange;
}

.article-item-title {
  color: $dark-gray;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
