$lightest-gray: #f7f7f5;
$lighter-gray: #D6D6D6;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$darkest-gray: #2E2E2E;

$lightest-orange: #FEE2BD;
$light-orange: #FEB880;
$mid-orange: #FE9F4C;
$orange: #FF7200;
$dark-orange: #C44801;

$red-change: #CC0000;
$green-change: #44861C;

$red-error: #FE0101;

$blue-link: #024999;
