/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "base/colors.scss";

#app {
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    height: 100%;
    min-width: 1300px;
  }
}

.green {
 background: -webkit-linear-gradient(#eee, $green-change, $green-change);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.red {
 background: -webkit-linear-gradient(#eee, $red-change, $red-change);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.green-change {
 color: $green-change;
}

.red-change {
 color: $red-change;
}

.orange {
 background: -webkit-linear-gradient(#eee, $orange, $orange);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.pointer {
 font-size: 10px;
}

.red-error {
  color: $red-error;
}
