@import "base/colors.scss";

#auth-comp {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#auth-form {
  height: 40%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid $light-gray;

  h2 {
    color: $dark-gray;
  }
}

#auth-errors {
  color: $red-error;
}

#auth-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;


  input[type="text"], input[type="password"] {
    border: 1px solid $gray;
    padding: 5px;
    margin-left: 5px;
  }

  input[type="submit"] {
    background: linear-gradient(to bottom, $light-orange, $orange, $orange);
    color: white;
    font-size: 18px;
    height: 40px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="submit"]:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, $light-orange, $orange);
  }
}
