@import "base/colors.scss";

#nav-and-tape {
  display: flex;
  flex-direction: column;
}

#navbar {
  height: 70px;
  padding: 10px;
  background-color: $light-gray;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 4px solid $orange;
}

#navbar-logo {
  height: 70px;
  width: 70px;
  border: 1px solid $dark-gray;
  border-radius: 15px;
  align-self: center;

  background: linear-gradient(to bottom, $lightest-gray, $light-gray);
}

#navbar-user-avatar {
  margin-bottom: 20px;
  color: $dark-gray;
}

#navbar-indices {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark-gray;
  }

  span {
    padding: 0 20px 0 20px;
  }
}

.navbar-tab {
  margin-left: 40px;
  margin-right: 20px;
  font-size: 20px;
}

.navbar-tab:hover {
  color: $dark-orange;
}
