@import "base/colors.scss";

#aside-filler {
  min-width: 232px;
}

#portfolio-aside {
  border: 1px solid black;
  width: 230px;
  padding: 30px;
  position: fixed;

  table {
    width: 100%;
    font-size: 13px;
    border-spacing: 15px;

  }
}

.aside-row {
  border-bottom: 1px solid black;
}
