@import "base/colors.scss";

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}

#portfolio-table {
  width: 100%;
  border-spacing: 0;

  tr:hover {
    background-color: $lightest-gray;
  }

  td, th {
    border-bottom: 1px solid $light-gray;
    text-align: center;
  }

  th {
    border-bottom: 2px solid $light-gray;
    color: $gray;
  }

  .cell {
    padding: 5px 15px 5px 15px;
  }

  .symbol-cell, .symbol-header {
    padding-right: 100px;
    font-weight: bolder;
  }

  .changepercent-cell, .changepercent-header {
    padding-right: 100px;
  }
}

.symbol-cell {
  color: $blue-link;

  &:hover {
    text-decoration: underline;
  }
}

.delete-icon {
  width: 10px;
  height: 10px;
}

.delete-cell {
  &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, $lightest-gray, $lightest-gray, #FEBDBD)
  }
}

.first-time-message {
  margin: 50px 0 40px 0;
  font-size: 25px;
  color: $gray;
}

.green-text {
  color: $green-change;
}

.red-text {
  color: $red-change;
}
