@import "base/colors.scss";

#aside-filler {
  min-width: 232px;
}

#portfolio-aside {
  border: 1px solid black;
  width: 230px;
  position: fixed;

  table {
    width: 100%;
    font-size: 13px;
  }
}
