@import "base/colors.scss";

#portfolio-form {
  input {
    border: 1px solid $gray;
  }

  button {
    border: 1px solid $gray;
  }
}

.green-text {
  color: $green-change;
}

.red-text {
  color: $red-change;
}
