html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: verdana;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html, body, #root, #comp-root, #app {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}

button:hover {
  cursor: pointer;
}
