@import "base/colors.scss";

#search-landing {
  width: 50%;
  margin: 30px auto 0 auto;
  display: flex;

  h2 {
    margin-bottom: 25px;
  }
}

#search-article-section {
  width: 50%;
  padding-left: 35px;
  display: table;
  clear: both;
}

#search-company-section {
  width: 50%;
  padding-right: 30px;
  display: table;
  clear: both;
}

.search-company-item {
  height: 50px;
  padding-bottom: 17px;

  .search-company-item-ticker {
    color: $dark-gray;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .search-company-item-name {
    color: $gray;
    font-size: 12px;
  }
}

.search-no-match {
  color: $dark-orange;
}
